{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Instagram | Register</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="form-data">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="logo">
            <img src="{% static 'assets2/images/logo.png' %}" alt="logo">
          </div>
          <div>
          {{ form.username }}
          {% for error in form.username.errors %}
            <div class="error">{{ error }}</div>
          {% endfor %}
        </div>

        <div>
          {{ form.email }}
          {% for error in form.email.errors %}
            <div class="error">{{ error }}</div>
          {% endfor %}
        </div>

        <div>
          {{ form.password1 }}
          {% for error in form.password1.errors %}
            <div class="error">{{ error }}</div>
          {% endfor %}
        </div>

        <div>
          {{ form.password2 }}
          {% for error in form.password2.errors %}
            <div class="error">{{ error }}</div>
          {% endfor %}
        </div>

        <button class="form-btn" type="submit">Sign up</button>
          <a class="password-reset" href="#">Forgot password?</a>
        </form>
        <div class="sign-up">
          Don't have an account? <a href="{% url 'sign-in' %}">Sign Up</a>
        </div>
      </div>
    </div>


  </div>

</body>

</html>